{{ define "name" }}
    {{ site.Params.description }}
{{ end }}

{{ define "main" }}
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages.ByDate.Reverse }}
    {{ $options := dict "page" . "format" "terse" }}

    {{ range $index, $page := $paginator.Pages }}
        <article>
            {{ partial "post-header.html" $page }}
            {{ partial "post-body.html"   $page }}
        </article>

        {{ if ne $index (sub (len $paginator.Pages) 1) }}
            <hr>
        {{ end }}
    {{ end }}

    <div>
        {{ template "_internal/pagination.html" $options }}
    </div>
{{ end }}
