{{ define "name" }}
    {{ site.Params.description }}
{{ end }}

{{ define "main" }}
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages.ByDate.Reverse }}
    {{ $options := dict "page" . "format" "terse" }}

    {{ range $paginator.Pages }}
        <article>
            {{ partial "post-header.html" . }}
            {{ partial "post-body.html"   . }}
        </article>
    {{ end }}

    <div>
        {{ template "_internal/pagination.html" $options }}
    </div>
{{ end }}
