{{ define "name" }}
    {{ if eq .Type "tags" }}
        {{ .Data.Singular | title }}: {{ .Title }}
    {{ else }}
        {{ .Title }}
    {{ end }}
{{ end }}

{{ define "main" }}
    <article>
        <hgroup>
            <h2>
                {{ if eq .Type "tags" }}
                    {{ .Data.Singular | title }}:
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ else }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            </h2>
        </hgroup>

        {{ range .Pages.GroupByDate "January 2006" }}
            <div>
                <h3> {{ .Key }} </h3>
                <ul>
                    {{ range .Pages }}
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            <span> {{ .Date.Format "2 January 2006" }} </span>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </article>
{{ end }}
