@media screen and (max-width: 450px) {
    .desktop {
        display: none;
    }

    html,
    pre code {
        font-size: 16px;
    }

    header nav ul {
        background-color: var(--tone-back);
        border: var(--border-width) solid var(--tone-line);
        border-left-width: calc(4 * var(--border-width));
        border-right-width: calc(4 * var(--border-width));

        li {
            background-color: inherit;
            border: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .mobile {
        display: none;
    }
}

@media print {
    * {
        background-color: transparent !important;
        border-color: #ccc !important;
        color: #000 !important;
        text-decoration-color: #ccc !important;
    }

    .mobile {
        display: none;
    }
}
