:root {
    --tone-black: light-dark(#999, #555);
    --tone-blue: light-dark(#9bd, #579);
    --tone-brown: light-dark(#b98, #752);
    --tone-green: light-dark(#9b9, #597);
    --tone-grey: light-dark(#bbb, #777);
    --tone-orange: light-dark(#db9, #975);
    --tone-pink: light-dark(#d9b, #975);
    --tone-purple: light-dark(#b9d, #759);
    --tone-red: light-dark(#d99, #957);
    --tone-teal: light-dark(#9bd, #597);
    --tone-yellow: light-dark(#dd9, #997);
}

.post-black pre {
    border-color: var(--tone-black);
}

.post-blue pre {
    border-color: var(--tone-blue);
}

.post-brown pre {
    border-color: var(--tone-brown);
}

.post-green pre {
    border-color: var(--tone-green);
}

.post-grey pre {
    border-color: var(--tone-grey);
}

.post-orange pre {
    border-color: var(--tone-orange);
}

.post-pink pre {
    border-color: var(--tone-pink);
}

.post-purple pre {
    border-color: var(--tone-purple);
}

.post-red pre {
    border-color: var(--tone-red);
}

.post-teal pre {
    border-color: var(--tone-teal);
}

.post-yellow pre {
    border-color: var(--tone-yellow);
}
