:root {
    --main-back: light-dark(#fff, #111);
    --main-fore: light-dark(#333, #eee);

    --link-text: light-dark(#544, #cbb);
    --link-deco-norm: light-dark(#bcd, #567);
    --link-deco-vstd: light-dark(#cbd, #657);

    --tone-back: light-dark(#fdf8f4, #2a2420);
    --tone-fore: light-dark(#877, #baa);
    --tone-line: light-dark(#cba, #655);
}

html,
pre,
code {
    font-family: Figtree, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
}

body {
    background-color: var(--main-back);
    color: var(--main-fore);
    margin: 1rem auto;
    max-width: 600px;
    padding: 0 1rem;

    a {
        color: var(--link-text);
        text-decoration: underline;
        text-underline-offset: 0.125rem;

        &:link {
            text-decoration-color: var(--link-deco-norm);
        }

        &:visited {
            text-decoration-color: var(--link-deco-vstd);
        }

        &:hover {
            text-decoration-color: currentColor;
        }
    }

    ol,
    ul {
        line-height: 1.8rem;
        padding-inline-start: 1rem;
    }
}

header {
    text-align: center;

    h1 {
        font-weight: 900;
        margin: 0;
    }

    nav ul {
        column-gap: 0.25rem;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;

        a {
            display: block;
        }

        li {
            background-color: var(--tone-back);
            flex: 1;

            &:first-child {
                border-left: 0.25rem solid var(--tone-line);
            }

            &:last-child {
                border-right: 0.25rem solid var(--tone-line);
            }
        }
    }
}

article {
    text-align: justify;

    hgroup {
        color: var(--tone-fore);

        span:last-child::before {
            content: " · ";
        }
    }

    pre {
        background-color: var(--tone-back);
        border-left: 0.25rem solid var(--tone-line);
        border-right: 0.25rem solid var(--tone-line);
        line-height: 1.8rem;
        padding: 1rem;
    }

    ul span {
        color: var(--tone-fore);
        float: right;
    }
}

footer {
    color: var(--tone-fore);
    text-align: center;
}
