:root {
    --main-back: #fff;
    --main-fore: #333;

    --link-text: #544;
    --link-deco-norm: #bcd;
    --link-deco-vstd: #cbd;

    --tone-back: #fdf9f5;
    --tone-fore: #877;
    --tone-line: #cba;
}

html,
pre,
code {
    font-family: Figtree, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
}

body {
    background-color: var(--main-back);
    color: var(--main-fore);
    margin: 1rem auto;
    max-width: 600px;
    padding: 0 1rem;

    a {
        text-decoration: underline;
        text-underline-offset: 0.125rem;

        &:link {
            color: var(--link-text);
            text-decoration-color: var(--link-deco-norm);
        }

        &:visited {
            color: var(--link-text);
            text-decoration-color: var(--link-deco-vstd);
        }

        &:hover {
            text-decoration-color: currentColor;
        }
    }

    ol,
    ul {
        line-height: 1.8rem;
        padding-inline-start: 1rem;
    }
}

header {
    text-align: center;

    h1 {
        font-weight: 900;
        margin: 0;
    }

    nav ul {
        column-gap: 1rem;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding-left: 0;
    }
}

article {
    border-bottom: 0.125rem solid var(--tone-line);
    border-top: 0.125rem solid var(--tone-line);
    text-align: justify;

    hgroup {
        p {
            color: var(--tone-fore);
        }

        span:last-child::before {
            content: " · ";
        }
    }

    pre {
        background-color: var(--tone-back);
        border-left: 0.25rem solid var(--tone-line);
        line-height: 1.8rem;
        padding: 1rem;
    }

    ul span {
        color: var(--tone-fore);
        float: right;
    }
}

footer {
    color: var(--tone-fore);
    text-align: center;
}
