:root {
    --main-back: light-dark(#fff, #111);
    --main-fore: light-dark(#333, #eee);

    --link-text: light-dark(#544, #cbb);
    --link-deco-norm: light-dark(#bcd, #567);
    --link-deco-vstd: light-dark(#cbd, #657);

    --tone-back: light-dark(#fdf8f4, #2a2420);
    --tone-fore: light-dark(#877, #baa);
    --tone-line: light-dark(#cba, #655);
    --menu-flip: light-dark(var(--main-back), var(--main-fore));
}

html,
pre,
code {
    font-family: Figtree, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
}

body {
    background-color: var(--main-back);
    color: var(--main-fore);
    margin: 1rem auto;
    max-width: 600px;
    padding: 0 1rem;

    a {
        color: var(--link-text);
        text-decoration: underline;
        text-underline-offset: 0.125rem;

        &:link {
            color: var(--link-text);
            text-decoration-color: var(--link-deco-norm);
        }

        &:visited {
            color: var(--link-text);
            text-decoration-color: var(--link-deco-vstd);
        }

        &:hover {
            text-decoration-color: currentColor;
        }
    }

    ol,
    ul {
        line-height: 1.8rem;
        padding-inline-start: 1rem;
    }
}

header {
    text-align: center;

    h1 {
        font-weight: 900;
        margin: 0;
    }

    nav {
        ul {
            background-color: var(--tone-back);
            border-left: 0.25rem solid var(--tone-line);
            border-right: 0.25rem solid var(--tone-line);
            list-style-type: none;
            padding-left: 0;

            li {
                display: inline;
            }

            a {
                padding: 0 0.25rem;

                &:link,
                &:visited {
                    /* text-decoration: none; */
                    display: inline-block;
                }

                &:hover {
                    background: var(--tone-line);
                    color: var(--menu-flip);
                }
            }
        }
    }
}

article {
    text-align: justify;

    /* + article::before {
        content: "• • •";
        display: block;
        text-align: center;
        color: var(--tone-line);
    } */

    hgroup {
        p {
            color: var(--tone-fore);
        }

        span:last-child::before {
            content: " · ";
        }
    }

    pre {
        background-color: var(--tone-back);
        border-left: 0.25rem solid var(--tone-line);
        border-right: 0.25rem solid var(--tone-line);
        line-height: 1.8rem;
        padding: 1rem;
    }

    ul {
        a + span {
            float: right;
        }

        span {
            color: var(--tone-fore);
        }
    }
}

footer {
    color: var(--tone-fore);
    text-align: center;
}
