@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    article hgroup p span + span {
        display: block;

        &::before {
            content: "";
        }
    }
}
