@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    article hgroup {
        p {
            color: var(--text-meta);
            font-size: 0.9rem;

            span + span {
                display: block;

                &::before {
                    content: "";
                }
            }
        }
    }
}
